body{
    background-color: black;
    text-align: center;
     font-family: Verdana;
     color: white;
}

h1 {
   font-size: 50px;
   font-weight: normal;
   text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

footer {
color: gray;
text-align: right;
}

